.pages {
	margin: 0 0 2em 35%;
	list-style-type: none;
	padding: 0;
	width: 15em;
}
.pages li {
	position: relative;
	font-size: 1.6em;
	left: 0;
	margin: 0.5em;
	padding: 0.3em 0;
	height: 1.6em;
	border-radius: 4px;
}

#contents-image {
	width: 100%;
	height: auto;
}