@import url('https://fonts.googleapis.com/css?family=IM+Fell+English:400i|Niconne');

// font-family: 'Niconne', cursive;
// font-family: 'IM Fell English', serif;

.description {
    text-align: center;
    font-size: 1.75em;
    margin-top: 2px;
    font-family: 'IM Fell English', serif;
    margin-bottom: 12px;
}